In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [4]:
df = spark.read.csv("C:/Users/Acer/Desktop/test2 - Sheet1.csv", header = True, inferSchema = True)

# Filter Operations

In [5]:
df.show()

+----+---+-----------+------+
|Name|Age|Experience |Salary|
+----+---+-----------+------+
|   A| 42|         18|192600|
|   B| 49|         18|194700|
|   C| 22|         19|196600|
|   D| 23|         12|126900|
|   E| 46|         16|173800|
|   F| 48|         11|124400|
|   G| 48|         13|144400|
|   H| 26|         17|177800|
|   I| 38|         16|171400|
|   J| 22|         14|146600|
|   K| 30|         20|209000|
|   L| 24|         19|197200|
+----+---+-----------+------+

#### Salary of people less than 170000

In [6]:
df.filter('Salary <= 170000').show()

+----+---+-----------+------+
|Name|Age|Experience |Salary|
+----+---+-----------+------+
|   D| 23|         12|126900|
|   F| 48|         11|124400|
|   G| 48|         13|144400|
|   J| 22|         14|146600|
+----+---+-----------+------+

In [15]:
df.filter("Salary > 170000").select(['Name', 'Age']).show()         # one way of using the filter

+----+---+
|Name|Age|
+----+---+
|   A| 42|
|   B| 49|
|   C| 22|
|   E| 46|
|   H| 26|
|   I| 38|
|   K| 30|
|   L| 24|
+----+---+

In [16]:
df.filter((df['Salary'] > 170000)).show()     # another way of using the filter

+----+---+-----------+------+
|Name|Age|Experience |Salary|
+----+---+-----------+------+
|   A| 42|         18|192600|
|   B| 49|         18|194700|
|   C| 22|         19|196600|
|   E| 46|         16|173800|
|   H| 26|         17|177800|
|   I| 38|         16|171400|
|   K| 30|         20|209000|
|   L| 24|         19|197200|
+----+---+-----------+------+

In [25]:
df.filter((df['Salary'] > 170000)  | (df['Salary'] < 21000)).show()  ## | here works as an operator for AND, & was not working

+----+---+-----------+------+
|Name|Age|Experience |Salary|
+----+---+-----------+------+
|   A| 42|         18|192600|
|   B| 49|         18|194700|
|   C| 22|         19|196600|
|   E| 46|         16|173800|
|   H| 26|         17|177800|
|   I| 38|         16|171400|
|   K| 30|         20|209000|
|   L| 24|         19|197200|
+----+---+-----------+------+

In [30]:
df.filter((df['Salary'] > 170000)  & (df['Salary'] < 21000)).show()    # EMPTY FOR SOME REASON

+----+---+-----------+------+
|Name|Age|Experience |Salary|
+----+---+-----------+------+
+----+---+-----------+------+

In [43]:
df.filter(~(df['Salary'] <= 170000)).show()        # NOT operator

+----+---+-----------+------+
|Name|Age|Experience |Salary|
+----+---+-----------+------+
|   A| 42|         18|192600|
|   B| 49|         18|194700|
|   C| 22|         19|196600|
|   E| 46|         16|173800|
|   H| 26|         17|177800|
|   I| 38|         16|171400|
|   K| 30|         20|209000|
|   L| 24|         19|197200|
+----+---+-----------+------+