# Tutorial 1

In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\acer\appdata\roaming\python\python39\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\acer\appdata\roaming\python\python39\site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd
ds = pd.read_csv("C:/Users/Acer/Desktop/test 1.csv")

In [4]:
ds

        Name  Age
0      krish   22
1       naik   35
2      Nupur   20
3       Yash   34
4     Shivam   33
5  Deekshith   26
6     Rajesh   32

In [5]:
from pyspark.sql import SparkSession

#### Creating a spark session

In [7]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [9]:
spark      ## JDK installed

In [12]:
df_pysp = spark.read.csv('C:/Users/Acer/Desktop/test 1.csv')

In [13]:
df_pysp

DataFrame[_c0: string, _c1: string]

In [15]:
df_pysp.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|Age|
|    krish| 22|
|     naik| 35|
|    Nupur| 20|
|     Yash| 34|
|   Shivam| 33|
|Deekshith| 26|
|   Rajesh| 32|
+---------+---+

In [18]:
df_pysp = spark.read.option('header' , 'true').csv('C:/Users/Acer/Desktop/test 1.csv')

In [19]:
df_pysp

DataFrame[Name: string, Age: string]

In [21]:
type(df_pysp)     ## this is now a dataframe

pyspark.sql.dataframe.DataFrame

In [24]:
df_pysp.show()      # now it is correct

+---------+---+
|     Name|Age|
+---------+---+
|    krish| 22|
|     naik| 35|
|    Nupur| 20|
|     Yash| 34|
|   Shivam| 33|
|Deekshith| 26|
|   Rajesh| 32|
+---------+---+

In [26]:
df_pysp.head(2)

[Row(Name='krish', Age='22'), Row(Name='naik', Age='35')]