In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [3]:
spark

In [10]:
## reading the dataset

In [11]:
df = spark.read.option('header', 'true').csv("C:/Users/Acer/Desktop/test 1.csv")

In [12]:
df.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    krish| 22|         5|
|     naik| 35|         6|
|    Nupur| 20|         5|
|     Yash| 34|         6|
|   Shivam| 33|        34|
|Deekshith| 26|        23|
|   Rajesh| 32|         2|
+---------+---+----------+

In [13]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [17]:
dF = spark.read.csv("C:/Users/Acer/Desktop/test 1.csv", header = True, inferSchema = True)      # another way of reading the data

In [18]:
dF.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [19]:
type(dF)

pyspark.sql.dataframe.DataFrame

In [20]:
type(df)

pyspark.sql.dataframe.DataFrame

In [21]:
df.columns

['Name', 'Age', 'Experience']

In [22]:
df.head()

Row(Name='krish', Age='22', Experience='5')

In [23]:
df.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    krish| 22|         5|
|     naik| 35|         6|
|    Nupur| 20|         5|
|     Yash| 34|         6|
|   Shivam| 33|        34|
|Deekshith| 26|        23|
|   Rajesh| 32|         2|
+---------+---+----------+

In [27]:
df.select('Name').show()

+---------+
|     Name|
+---------+
|    krish|
|     naik|
|    Nupur|
|     Yash|
|   Shivam|
|Deekshith|
|   Rajesh|
+---------+

In [28]:
type(df.select('Name'))

pyspark.sql.dataframe.DataFrame

In [31]:
df.select('Name', 'Experience').show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    krish|         5|
|     naik|         6|
|    Nupur|         5|
|     Yash|         6|
|   Shivam|        34|
|Deekshith|        23|
|   Rajesh|         2|
+---------+----------+

In [32]:
df["Name"]

Column<'Name'>

In [34]:
df.dtypes              ## age is also a string in it?

[('Name', 'string'), ('Age', 'string'), ('Experience', 'string')]

In [35]:
df.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [37]:
df.describe().show()         # how is it calculating mean if it is a string

+-------+---------+------------------+------------------+
|summary|     Name|               Age|        Experience|
+-------+---------+------------------+------------------+
|  count|        7|                 7|                 7|
|   mean|     NULL|28.857142857142858|11.571428571428571|
| stddev|     NULL|  6.12178000880385|12.067271755415456|
|    min|Deekshith|                20|                 2|
|    max|     naik|                35|                 6|
+-------+---------+------------------+------------------+

###  adding columns in pyspark dataframe

In [42]:
df = df.withColumn("Experience After 2 years", df['Experience'] + 2)

In [43]:
df.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|    krish| 22|         5|                     7.0|
|     naik| 35|         6|                     8.0|
|    Nupur| 20|         5|                     7.0|
|     Yash| 34|         6|                     8.0|
|   Shivam| 33|        34|                    36.0|
|Deekshith| 26|        23|                    25.0|
|   Rajesh| 32|         2|                     4.0|
+---------+---+----------+------------------------+

### Dropping the columns

In [45]:
df = df.drop('Experience After 2 years')
df.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|    krish| 22|         5|
|     naik| 35|         6|
|    Nupur| 20|         5|
|     Yash| 34|         6|
|   Shivam| 33|        34|
|Deekshith| 26|        23|
|   Rajesh| 32|         2|
+---------+---+----------+

### Renaming the column

In [46]:
df = df.withColumnRenamed('Name', "New Name")

In [47]:
df.show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|    krish| 22|         5|
|     naik| 35|         6|
|    Nupur| 20|         5|
|     Yash| 34|         6|
|   Shivam| 33|        34|
|Deekshith| 26|        23|
|   Rajesh| 32|         2|
+---------+---+----------+