# PySpark GroupBy and Aggregate Functions

In [34]:
from pyspark.sql import SparkSession

In [35]:
spark  = SparkSession.builder.appName('Aggregate').getOrCreate()

In [45]:
df = spark.read.csv("C:/Users/Acer/Desktop/Pyspark data sets/test3.csv", header = True, inferSchema = True)

In [46]:
df.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|         IOT| 30000|
|   Mahesh|Data Science| 50000|
|   Mahesh|         IOT| 40000|
|Sudhanshu|Data Science| 50000|
|Sudhanshu|    Big Data| 50000|
|   Mahesh|         IOT| 30000|
|    Krish|    Big Data| 50000|
|Sudhanshu|Data Science| 20000|
|    Krish|    Big Data| 50000|
|Sudhanshu|         IOT| 50000|
+---------+------------+------+

In [47]:
spark           # session is running

In [48]:
df.printSchema()    # inferSchema = true makes Spark guess the schema of our dataSet

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

## GroupBy

In [50]:
df.groupBy('Name').sum().show()    # I did not have to specify that I want the sum of 'salary'

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|     170000|
|    Krish|     130000|
|   Mahesh|     120000|
+---------+-----------+

In [52]:
## Group by departments
df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|     150000|
|    Big Data|     150000|
|Data Science|     120000|
+------------+-----------+

In [53]:
df.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|    37500.0|
|    Big Data|    50000.0|
|Data Science|    40000.0|
+------------+-----------+

In [56]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    4|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [59]:
df.agg({'Salary' : 'sum'}).show()         # total salary

+-----------+
|sum(Salary)|
+-----------+
|     420000|
+-----------+

In [64]:
df.groupBy('Name').max().show()        # their max salaries

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      50000|
|    Krish|      50000|
|   Mahesh|      50000|
+---------+-----------+

In [65]:
df.groupBy('Name').min().show()    # their minimum salaries

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Krish|      30000|
|   Mahesh|      30000|
+---------+-----------+

In [66]:
df.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish|         IOT| 30000|
|   Mahesh|Data Science| 50000|
|   Mahesh|         IOT| 40000|
|Sudhanshu|Data Science| 50000|
|Sudhanshu|    Big Data| 50000|
|   Mahesh|         IOT| 30000|
|    Krish|    Big Data| 50000|
|Sudhanshu|Data Science| 20000|
|    Krish|    Big Data| 50000|
|Sudhanshu|         IOT| 50000|
+---------+------------+------+

In [74]:
## group by departments
df.groupBy('Departments').sum().show()     # teaching IOT pays the most

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|     150000|
|    Big Data|     150000|
|Data Science|     120000|
+------------+-----------+

In [75]:
df.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    4|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [78]:
df.groupBy('Name').max().show()
df.groupBy('Name').min().show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      50000|
|    Krish|      50000|
|   Mahesh|      50000|
+---------+-----------+

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Krish|      30000|
|   Mahesh|      30000|
+---------+-----------+

#### end of session